*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background:  #039BE5;
    opacity: 0.85;
    height: 70px;
    position: fixed;
}

.ancho{
    width: 80%;
    height: 70px;
    background: transparent;
    margin: auto;
}
#admin-form{
    width: 400px;
}
.logo{
    width: 30%;
    height: 70px;
    background: transparent;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
    white-space: nowrap;
}
.logo p a{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    font-family: rale;
}
nav{
    width: 70%;
    height: 70px;
    background: transparent;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: rale;
}

nav ul li a:hover{
    color: #444;
}
@font-face {
    font-family: rale;
    src: url(../fuentes/Raleway-Regular.ttf);
}
.container {
    padding-top: 70px;
}
.table-responsive{
    overflow: auto;
}
.th-size-0{
    min-width: 100px;
}
.th-size-1{
    min-width: 130px;
}
.th-size-1-2{
    min-width: 140px;
}
.th-size-2{
    min-width: 200px;
}
.th-size-3{
    min-width: 300px;
}
.th-size-4{
    min-width: 400px;
}

.previous {
    border-radius: 50%;
    background-color: #f1f1f1;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-right: 16px;
}
.previous:hover {
    background-color: #ddd;
    color: black;
}
.next {
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-left: 16px;
}
.next:hover {
    background-color: #ddd;
    color: black;
}
.container-range{
    padding: 24px;
    display: inline-block;
}


