
#edit_button{
    background-color: transparent;
    color:#5d7ec2;
}

#select{
    font-size: medium;
    height: auto;
}

#glyphicon_control{
    size: 40px;
    font-size: medium;
}
#estado{
    size: 40px;
    font-size: medium;
}

